root = true

[*]
insert_final_newline = true
end_of_line = lf
charset = utf-8

[*.go]
indent_style = tab
indent_size = 4
insert_final_newline = true

[*.{js,jsx,ts,tsx,mjs,json,md,css,scss,html}]
insert_final_newline = false

[*.{py,rs,sh,bash,yaml,yml,toml,tf,hcl}]
insert_final_newline = true
